Repository yungyuc/nsdhw_22sp, pull requests merged in 2022-03, with the labels that each got.

#27 BlenderWang9487 turns in hw1 (attempt1)
  hw1/BlenderWang9487/countline.py
  hw1/BlenderWang9487/countline.sh
Labels: hw1

#36 simpson0114 turns in hw1 (attempt 1)
  hw1/simpson0114/countline.py
  hw1/simpson0114/countline.sh
Labels: hw1

#30 PY-Chang turns in hw1 (attempt 1)
  hw1/PY-Chang/countline.py
  hw1/PY-Chang/countline.sh
Labels: hw1

#44 Li-Pro turns in hw1
  hw1/Li-Pro/countline.py
  hw1/Li-Pro/countline.sh
Labels: hw1

#39 season06 turns in hw1 [attempt 1]
  hw1/season06/countline.py
  hw1/season06/countline.sh
Labels: hw1

#54 minchuncho-hw1-attempt1
  hw1/minchuncho/countline.py
  hw1/minchuncho/countline.sh
Labels: hw1

#29 First Commit
  hw1/F84064014/countline.py
  hw1/F84064014/countline.sh
Labels: hw1

#57 18Allen-hw1
  hw1/18Allen/countline.py
  hw1/18Allen/countline.sh
Labels: hw1

#56 OscarPolai turns in hw1
  hw1/OscarPolai/countline.py
  hw1/OscarPolai/countline.sh
Labels: hw1

#62 zhshize-hw1-attempt2
  hw1/zhshize/countline.py
  hw1/zhshize/countline.sh
Labels: hw1

#59 YuChiehLiu-hw1-attempt1
  hw1/YuChiehLiu/countline.py
  hw1/YuChiehLiu/countline.sh
Labels: hw1

#60 ottersome turns in HW1
  hw1/ottersome/countline.py
  hw1/ottersome/countline.sh
Labels: hw1

#46 Pigman0315 turns in hw1 [attempt3]
  hw1/pigman0315/countline.py
  hw1/pigman0315/countline.sh
Labels: hw1

#63 yfnijm-hw1-attempt2
  hw1/yfnijm/countline.py
  hw1/yfnijm/countline.sh
Labels: hw1

#50 Leonhsi hw1 attempt1
  hw1/leonhsi/countline.py
  hw1/leonhsi/countline.sh
Labels: hw1

#48 engine210 turns in hw1 [attempt 1]
  hw1/engine210/countline.py
  hw1/engine210/countline.sh
Labels: hw1

#26 ianlienfa turns in hw1 [attempt-1]
  hw1/ianlienfa/countline.py
  hw1/ianlienfa/countline.sh
Labels: hw1

#10 Kengtinglin turns in hw1 (first attempt)
  hw1/kengtinglin/countline.py
  hw1/kengtinglin/countline.sh
Labels: hw1

#51 raylee0703 turns in hw1 [attempt2]
  hw1/raylee0703/countline.py
  hw1/raylee0703/countline.sh
Labels: hw1

#11 [hw1] no.1 commit
  hw1/burniechen/countline.py
  hw1/burniechen/countline.sh
Labels: hw1

#3 HaHaFi turns in hw1 [first attempt]
  hw1/HaHaFi/countline.py
  hw1/HaHaFi/countline.sh
Labels: hw1

#66 harry900831 turns in hw0
  hw0/harry900831/countline.py
Labels: hw0

#67 harry900831 turns in hw1 attempt1
  hw1/harry900831/countline.py
  hw1/harry900831/countline.sh
Labels: hw1

#77 ianlienfa turns in hw2 [attempt-7]
  hw2/ianlienfa/q1/Makefile
  hw2/ianlienfa/q1/line.cpp
  hw2/ianlienfa/q1/line.h
  hw2/ianlienfa/q1/main.cpp
  hw2/ianlienfa/q1/result.txt
  hw2/ianlienfa/q2/Makefile
  hw2/ianlienfa/q2/_vector.cpp
  hw2/ianlienfa/q2/_vector.h
  hw2/ianlienfa/q2/pytest.ini
  hw2/ianlienfa/q2/test.py
Labels: hw2

#69 season06 turns in hw2
  hw2/season06/q1/Makefile
  hw2/season06/q1/line.cpp
  hw2/season06/q1/line.hpp
  hw2/season06/q1/main.cpp
  hw2/season06/q2/Makefile
  hw2/season06/q2/_vector.cpp
  hw2/season06/q2/test_vector.py
Labels: hw2

#80 YuChiehLiu-hw2-attempt1
  hw2/YuChiehLiu/q1/Makefile
  hw2/YuChiehLiu/q1/q1.cpp
  hw2/YuChiehLiu/q2/Makefile
  hw2/YuChiehLiu/q2/_vector.cpp
  hw2/YuChiehLiu/q2/test_vector.py
Labels: hw2

#78 BlenderWang9487 turns in hw2 (attempt1)
  hw2/BlenderWang9487/q1/Line.cpp
  hw2/BlenderWang9487/q1/Line.hpp
  hw2/BlenderWang9487/q1/Makefile
  hw2/BlenderWang9487/q2/Makefile
  hw2/BlenderWang9487/q2/_vector.cpp
  hw2/BlenderWang9487/q2/tests/test_Vector2D.py
  hw2/BlenderWang9487/q2/tests/test_calcAngle.py
Labels: hw2

#84 PY-Chang hw2 attmpt1
  hw2/PY-Chang/q1/Line.cpp
  hw2/PY-Chang/q1/Line.hpp
  hw2/PY-Chang/q1/Makefile
  hw2/PY-Chang/q1/main.cpp
  hw2/PY-Chang/q2/Makefile
  hw2/PY-Chang/q2/main.cpp
  hw2/PY-Chang/q2/test_func.py
Labels: hw2

#85 simpson0114 hw2 attempt1
  hw2/simpson0114/q1/Makefile
  hw2/simpson0114/q1/line.cpp
  hw2/simpson0114/q2/Makefile
  hw2/simpson0114/q2/_vector.cpp
  hw2/simpson0114/q2/test_vector.py
Labels: hw2

#88 engine210 hw2 attempt3
  hw2/engine210/q1/Makefile
  hw2/engine210/q1/line.hpp
  hw2/engine210/q1/main.cpp
  hw2/engine210/q1/test.cpp
  hw2/engine210/q2/Makefile
  hw2/engine210/q2/_vector.cpp
  hw2/engine210/q2/test_q2.py
Labels: hw2

#89 F84064014 hw2 attempt1
  hw2/F84064014/q1/Line.cpp
  hw2/F84064014/q1/Line.hpp
  hw2/F84064014/q1/Makefile
  hw2/F84064014/q2/Makefile
  hw2/F84064014/q2/_vector.cpp
  hw2/F84064014/q2/test_sample.py
Labels: hw2

#92 ottersome hands in HW2
  hw2/ottersome/q1/Makefile
  hw2/ottersome/q1/main.cpp
  hw2/ottersome/q2/Makefile
  hw2/ottersome/q2/include/attr.h
  hw2/ottersome/q2/include/buffer_info.h
  hw2/ottersome/q2/include/cast.h
  hw2/ottersome/q2/include/chrono.h
  hw2/ottersome/q2/include/common.h
  hw2/ottersome/q2/include/complex.h
  hw2/ottersome/q2/include/detail/class.h
  hw2/ottersome/q2/include/detail/common.h
  hw2/ottersome/q2/include/detail/descr.h
  hw2/ottersome/q2/include/detail/init.h
  hw2/ottersome/q2/include/detail/internals.h
  hw2/ottersome/q2/include/detail/type_caster_base.h
  hw2/ottersome/q2/include/detail/typeid.h
  hw2/ottersome/q2/include/eigen.h
  hw2/ottersome/q2/include/embed.h
  hw2/ottersome/q2/include/eval.h
  hw2/ottersome/q2/include/functional.h
  hw2/ottersome/q2/include/gil.h
  hw2/ottersome/q2/include/iostream.h
  hw2/ottersome/q2/include/numpy.h
  hw2/ottersome/q2/include/operators.h
  hw2/ottersome/q2/include/options.h
  hw2/ottersome/q2/include/pybind11.h
  hw2/ottersome/q2/include/pytypes.h
  hw2/ottersome/q2/include/stl.h
  hw2/ottersome/q2/include/stl/filesystem.h
  hw2/ottersome/q2/include/stl_bind.h
  hw2/ottersome/q2/main.cpp
  hw2/ottersome/q2/test_.py
Labels: hw2

#94 yfnijm-hw2-attempt2
  hw2/yfnijm/q1/Makefile
  hw2/yfnijm/q1/main.cpp
  hw2/yfnijm/q2/Makefile
  hw2/yfnijm/q2/_test.py
  hw2/yfnijm/q2/vectors_angle.cpp
Labels: hw2

#96 OscarPolai turns in hw2 [attempt2]
  hw2/OscarPolai/q1/Line.cpp
  hw2/OscarPolai/q1/Line.hpp
  hw2/OscarPolai/q1/Makefile
  hw2/OscarPolai/q1/main.cpp
  hw2/OscarPolai/q2/Makefile
  hw2/OscarPolai/q2/_vector.cpp
  hw2/OscarPolai/q2/test_sample.py
Labels: hw2

#91 Pigman0315 turns in hw2 [attempt1]
  hw2/pigman0315/q1/Makefile
  hw2/pigman0315/q1/main.cpp
  hw2/pigman0315/q2/Makefile
  hw2/pigman0315/q2/test_calc_rad.py
  hw2/pigman0315/q2/vector.cpp
Labels: hw2

#97 Li-Pro turns in hw2
  hw2/Li-Pro/q1/Makefile
  hw2/Li-Pro/q1/line.cpp
  hw2/Li-Pro/q1/line.hpp
  hw2/Li-Pro/q1/q1.cpp
  hw2/Li-Pro/q2/Makefile
  hw2/Li-Pro/q2/_vector.py
  hw2/Li-Pro/q2/test_vector.py
  hw2/Li-Pro/q2/vector.cpp
Labels: hw2

#79 harry900831 turns in hw2 (attempt1)
  hw2/harry900831/q1/Line.cpp
  hw2/harry900831/q1/Line.h
  hw2/harry900831/q1/Makefile
  hw2/harry900831/q1/main.cpp
  hw2/harry900831/q2/Makefile
  hw2/harry900831/q2/_vector.cpp
  hw2/harry900831/q2/test_vector.py
Labels: hw2

#98 ianlienfa turns in proposal-v1.0
  project/README.rst
  project/ianlienfa/README.md
Labels: proposal

#101 minchuncho-proposal-attempt2
  project/README.rst
  project/minchuncho/README.rst
  project/minchuncho/images/system_architecture.png
Labels: proposal

#99 F84064014 proposal attempt1
  project/F84064014/README.rst
  project/F84064014/main.py
  project/README.rst
Labels: proposal
